<!DOCTYPE html>
<html lang="en">
    {{>header}}
  <body>
    <div class="main-div">
     {{>navbar}}
      <section class="about-card">
        <div class="left-side">
          <img src="images/founder-removebg.png" alt="vikrant sharma">
        </div>
        <div class="right-side">
          <h1>Hello Guys, my name is vikrant sharma. i'm build a web for check current weather in any city and to this web name is live weather cast. if u want to check current weather cast info so please visit our website and check weather</h1>
        </div>
      </section>
      <footer>
        <h1>© CopyRight | 2024</h1>
        <h2>Developed | Vikrant Sharma</h2>
      </footer>
    </div>
  </body>
</html>
