<!DOCTYPE html>
<html lang="en">
  <head>
    {{>header}}
    <title>weather cast</title>
  </head>
  <body>
    <div class="main-div">
     {{>navbar}}
      
      <section class="home-section">
        <div class="left-side">
          <h2>Welcome to Weather app</h2>
          <h1>
            Get the Current <a href="/weather">Weather</a> Of Your City
          </h1>
          <a href="/weather" class="btn">Check Now</a>
        </div>
        <div class="right-side">
          <div
            id="carouselExampleInterval"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img
                  src="images/bg1.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img
                  src="images/bg2.jpg"
                  class="d-block w-50"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="images/bg3.jpg"
                  class="d-block w-50"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleInterval"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleInterval"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </section>
      <footer>
        <h1>© CopyRight | 2024</h1>
        <h2>Developed | Vikrant Sharma</h2>
      </footer>
    </div>
  </body>
  {{!-- <script src="js/main.js"></script> --}}
</html>
